.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  font-size: calc(2px + 2vmin);
  padding: 10px;
  align-items: center;
}

.App-header.align-center {
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

#Logo {
  height: 80px;
  width: 80px;
}

#Site-Title {
  margin-top: 0px;
  margin-bottom: 0px;
}

#Site-Tagline {
  margin-top: 0px;
  margin-bottom: 0px;
}

.Header-Text {
  margin-left: 10px;
  margin-top: 0px;
}

.Search-form {
  margin: 20px;
  align-content: center;
}

#search {
  min-width: 20rem;
  min-height: 3rem;
  padding: 1.3rem;
  margin-top: 0px;
  border: 1px solid #bdbdbd;
  outline: 0;
  border-radius: 4px;
}

#search::placeholder {
  font-size: 1.2rem;
}

select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#search-type {
  min-width: 5rem;
  min-height: 3rem;
  font-size: 1.2rem;
  border: 1px solid #bdbdbd;
  outline: 0;
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 20px) calc(1em + 8px),
    calc(100% - 15px) calc(1em + 8px), calc(100% - 2.5em) 0.8em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
}

#search-type:focus {
  background-image: linear-gradient(45deg, gray 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, gray 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position: calc(100% - 15px) 1.4em, calc(100% - 20px) 1.4em,
    calc(100% - 2.5em) 0.8em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;
  border-color: #bdbdbd;
  outline: 0;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #ef8d9c 40%, #ffc39e 100%);
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.Search-form form {
  display: inline-flex;
}

.Search-form.align-center {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.cards_item .card{
  width: 100%;
}

.cards_item .card .card_image {
  min-height: 300px;

}

.cards_item .card .card_image img{
  width: 100%;
}